{% extends 'base.html' %}


{% block content %}
    <h1>Employee list</h1>
    <a href="{% url 'employee_create' %}">+ add employee</a>
    <div class="employee_profile">
        <table class="table">
            <thead>
                <tr>
                    <th>employee name</th>

                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in object_list %}
                    <tr>
                        <td><a href="{% url 'employee_detail' emp.pk %}">{{emp.first_name}} {{ emp.last_name }}</a></td>

                        <td>
                            <a href="{% url 'employee_update' emp.pk %}" class="btn btn-primary">update</a>
                            <a class="btn btn-danger" href="{% url 'employee_delete' emp.pk %}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>


{% endblock content %}